<% now = Time.zone.now %>
<div class="container-login">
  <h1>予約内容編集画面</h1>
  <div class="col-md-12">
    <%= form_with(model: @reservation, url: update_reserve_reservation_path(@reservation.id), remote: true, method: :post) do |f| %>
      <div id="error"></div>
      <h6>予約者</h6>
      <p class="ms-1"><%= @reservation.guest.email %></p>

      <%= f.label :start_time, class: "col-form-label" %>
      <%= f.datetime_field :start_time, class: "form-control" %>

      <%= f.label :course, class: "col-form-label" %>
      <%= f.select :course, Reservation.courses_i18n.invert, class: "form-select-area" %>

      <%= f.label :comment, class: "col-form-label" %>
      <%= f.text_field :comment, class: "form-control" %>

      <%= f.hidden_field :guest_id, :value => @reservation.guest.id %>
      <%= f.hidden_field :reservation_time, :value => now %>

      <div class="center mt-3">
        <%= f.submit "変更", class: "btn btn-primary" %>
        <%= link_to "戻る", confirm_reservation_reservations_path, class: "btn btn-primary" %>
        <%= link_to "削除", reservation_path(@reservation.id), method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
