<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
<%= link_to '戻る', :back, class: "link-gray" %>


<div class="cart-wrapper">
  <div class="cart-content-left">
    <p>
      <%= image_tag('/cart_empty.png', width: 30) %>
      ショッピングカート
    </p>
    <% if !@orders.present? %>
      <table class="table cart-table-left">
        <tr>
          <td>
            <p><%= current_user.name %> 様のカートは空です。</p>
          </td>
        </tr>
      </table>
    <% else %>
      <table class="table cart-table-left">
        <% @orders.each do |order| %>
        <tr>
          <td rowspan="3">
            <% item = Item.find(order.item_id) %>
            <% if item.image? %>
              <%= link_to image_tag(item.image.url, width: 200, class: "item-image-border"), item_path(item) %>
            <% else %>
              <%= link_to image_tag("/no_image2.png", width: 200, class: "item-image-border"), item_path(item) %>
            <% end %>
          </td>
          <td colspan="3"><%= link_to item.name, item_path(item), class: "link-black" %></td>
        </tr>
        <tr>
          <td colspan="3"><%= item.price %> 円 (税別)</td>
        </tr>
        <tr>
          <td>数量: <%= order.quantity %></td>
          <td><%= order.quantity*item.price %> 円(税別)</td>
          <td>
            <%= link_to "削除", orders_path(order), method: :delete, class: "btn btn-sm btn-secondary" %>
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>

<%# 以下、フォームをレイアウトのみ仮で設置、送信はできません %>
  <div class="cart-content-right">
    <%= form_with model: @cart, url: '#', method: :post do |f| %>
      <table class="table cart-table-right">
        <tr>
          <td>小計</td>
          <td class="right"> <%= @subtotal %> 円</td>
        </tr>
        <tr>
          <td>消費税 (10%)</td>
          <td class="right"> <%= @tax %> 円</td> 
        </tr>
        <tr>
          <td>送料</td>
          <td class="right"><%= @shipping_fee %> 円</td>
        </tr>
        <tr>
          <td>合計</td>
          <td class="right"> <%= @total %> 円 (税込)</td>
        </tr>
        <tr>
          <td colspan="2" class="center">
            <script
              type="text/javascript"
              src="https://checkout.pay.jp/"
              class="payjp-button"
              data-key="<%= ENV["PAYJP_TEST_PUBLIC_KEY"] %>"
              data-name-placeholder="SHOHEI OHTANI"
              >
            </script>
          </td>
        </tr>
      </table>
    <% end %>
    <p class="center">お買い上げ5000円以上で送料無料</p>
  </div>
<%# 仮のフォームここまで %>

</div>
