<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
<%= link_to '戻る', :back, class: "link-gray" %>

<p></p>
<p>
<%= image_tag('/cart_empty.png', width: 30) %>
ショッピングカート</p>
<div class="cart-wrapper">

  <div class="cart-content-left">
    <table class="table cart-table-left">
      <% @orders.each do |order| %>
      <tr>
        <td rowspan="3">
          <% item = Item.find(order.item_id) %>
          <% if item.image? %>
            <%= link_to image_tag(item.image.url, width: 200, class: "item-image-border"), item_path(item) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: 200, class: "item-image-border"), item_path(item) %>
          <% end %>
        </td>
        <td colspan="2"><%= link_to item.name, item_path(item), class: "link-black" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= item.price %> 円 (税抜)</td>
      </tr>
      <tr>
        <td>数量: <%= order.quantity %></td>
        <td>
          <%= link_to "削除", orders_path(order), method: :delete,  data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-secondary" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

<%# 以下、フォームをレイアウトのみ仮で設置、送信はできません %>
  <div class="cart-content-right">
    <%= form_with model: @order, url: '#', method: :post do |f| %>
      <table class="table cart-table-right">
        <tr>
          <td><%= f.label :sub_total %></td>
          <td class="right"><%#= @order.sub_total %> 円</td>
        </tr>
        <tr>
          <td><%= f.label :tax %></td>
          <td class="right"><%#= @order.tax %> 円</td>
        </tr>
        <tr>
          <td><%= f.label :handling_fee %></td>
          <td class="right"><%#= @order.handling_fee %> 円</td>
        </tr>
        <tr>
          <td><%= f.label :grand_total %></td>
          <td class="right"><%#= @order.grand_total %> 円</td>
        </tr>
        <tr>
          <td colspan="2" class="center">
            <script
              type="text/javascript"
              src="https://checkout.pay.jp/"
              class="payjp-button"
              data-key="<%= ENV["PAYJP_TEST_PUBLIC_KEY"] %>"
              data-name-placeholder="SHOHEI OHTANI"
              >
            </script>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<%# 仮のフォームここまで %>

</div>
