<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
<%= link_to '戻る', :back, class: "link-gray" %>

<div class="container">
  <div class="right">
    <%= link_to image_tag('/payment_history.png', width: 30), payments_path(current_user) %>
    <%= link_to '注文履歴', payments_path(current_user), class: "btn btn-md btn-secondary" %>
    <%= link_to image_tag('/cart_empty.png', width: 30), carts_path(current_user) %>
    <%= link_to 'カート', carts_path(current_user), class: "btn btn-md btn-warning" %>
  </div>
  <p></p>

  <% if current_user.cart.payment.present? %>
    <%= paginate @payments %>
    <h1>注文履歴 【 <%= current_user.name %> 様 】</h1>
    <table class="table">
      <% @payments.each do |payment| %>
      
        <tr>
          <td>注文日: <%= l payment.created_at, format: :custom1 %></td>
          <td>合計: <%= payment.total %> 円(税込)</td>
          <td>注文番号: <%= payment %></td>
          <td><%= link_to "注文内容", payment_path(payment), class: "btn btn-sm btn-primary" %></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @payments %>
  <% else %>
    <h1>注文履歴 【 <%= current_user.name %> 様 】</h1>
    <p>お客様の注文履歴はありません。</p>
  <% end %>
</div>
