<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
<%= link_to '戻る', :back, class: "link-gray" %>

<div class="container">
  <div class="right">
    <%= link_to image_tag('/payment_history.png', width: 30), payments_path(current_user) %>
    <%= link_to '注文履歴', payments_path(current_user), class: "btn btn-md btn-secondary" %>
  <% unpaid_orders = current_user.cart.orders.where(paid_at: nil) %>
  <% if unpaid_orders.present? %>
      <%= link_to image_tag('/cart_items.png', width: 30), carts_path(current_user) %>
    <% else %>
      <%= link_to image_tag('/cart_empty.png', width: 30), carts_path(current_user) %>
    <% end %>
    <%= link_to 'カート', carts_path(current_user), class: "btn btn-md btn-warning" %>
  </div>
  <p></p>
  <h1>注文内容 【 <%= current_user.name %> 様 】</h1>
  <table class="table">
    <tr>
      <td>注文日: <%= l @payment.created_at, format: :custom1 %></td>
      <td>注文番号: <%= @payment.id %></td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th>お届け先</th>
      <th>支払い方法</th>
      <th colspan="2">領収書/購入明細書</th>
    </tr>
    <tr>
      <td>
        <%= current_user.name %> 様<br>
        <%= current_user.address %>
      </td>
      <td>クレジットカード決済(PAY.JP)</td>
      <td>
        商品の小計:<br>
        消費税:<br>
        送料:<br>
        ご請求額(合計):<br>
      </td>
      <td class="right">
        <%= @payment.subtotal %> 円<br>
        <%= @payment.tax %> 円<br>
        <%= @payment.shipping_fee %> 円<br>
        <%= @payment.total %> 円<br>
      </td>
    </tr>
  </table>
  <table class="table">
    <% @orders.each do |order| %>
      <tr>
        <td rowspan="2">
          <% item = Item.find(order.item_id) %>
          <% if item.image? %>
            <%= link_to image_tag(item.image.url, width: 100, class: "item-image-border"), item_path(item) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: 100, class: "item-image-border"), item_path(item) %>
          <% end %>
        </td>
        <td colspan="3"><%= link_to item.name, item_path(item), class: "link-black" %></td>
      </tr>
      <tr>
        <td><%= item.price %> 円(税抜)</td>
        <td>数量: <%= order.quantity %></td>
        <td><%= item.price*order.quantity %> 円(税抜)</td>
      </tr>
    <% end %>
  </table>
</div>
