
<%= form_with(model: @item, local: true) do |f| %>
 <%#= render partial: 'shared/error_messages', locals: { object: @item } %>
  <table class="table item-table">
      <tr>
        <td rowspan="3" class="center">
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image %>
            <% if @item.image.present? %>
              <%= image_tag @item.image.to_s, size: "300" %>
            <%# else %>
              <%#= image_tag "sample1.png", size: "300" %>
            <% end %>
          </div>
        </td>
        <td colspan="2">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class: "form-control" %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :stock %>
            <%= f.number_field :stock, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </td>
      </tr>
  </table>
  <div class="form-group">
    <%= f.submit "商品登録", class: "btn btn-md btn-primary" %>
    <%= link_to 'キャンセル', items_path, class: "link-gray" %>
  </div>

<% end %>
