<%= link_to 'ホーム', root_url %>
＞
<%= link_to '商品一覧', items_path %>

<table class="table item-table">
  <% @results.each do |item| %>
  <tbody>
    <tr>
      <td><%= link_to image_tag(item.image.url, width: 200, class: "item-image"), item_path(item) if item.image? %></td>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.price %> 円(税込)</td>
      <td>在庫数: <%= item.stock %></td>
    
      <td><%= link_to '編集', edit_item_path(item), class: 'btn btn-xs btn-primary' %></td>
      <td><%= link_to '削除', item_path(item), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-xs btn-danger" %></td>
    </tr>
  </tbody>
  <% end %>
</table>





