<%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
<%= link_to '商品一覧', items_path, class: "link-gray" %> ＞ 
<%= link_to '戻る', :back, class: "link-gray" %>

<div class="right">
  <%= link_to image_tag('/payment_history.png', width: 30), payments_path(current_user) %>
  <%= link_to '注文履歴', payments_path(current_user), class: "btn btn-md btn-secondary" %>
  <% unpaid_orders = current_user.cart.orders.where(paid_at: nil) %>
  <% if unpaid_orders.present? %>
    <%= link_to image_tag('/cart_items.png', width: 30), carts_path(current_user) %>
  <% else %>
    <%= link_to image_tag('/cart_empty.png', width: 30), carts_path(current_user) %>
  <% end %>
  <%= link_to 'カート', carts_path(current_user), class: "btn btn-md btn-warning" %>
</div>
<p></p>
<div class="container">
  <table class="table">
    <tr>
      <td rowspan="4" class="center">
        <% if @item.image? %>
          <%= image_tag(@item.image.url, width: 500, class: "item-image-border") %>
        <% else %>
          <%= image_tag("/no_image2.png", width: 500, class: "item-image-border") %>
        <% end %>
      </td>
      <td colspan="2" class="center">
        <%= form_with model: @order, url: orders_path(@order), method: :post do |f| %>
          <%= f.label "数量:" %>
          <% range = (1..10) %>
          <%= f.select :quantity, range %><br>
          <%= f.fields_for @item do |i| %>
            <%= i.hidden_field :item_id, value: @item.id %>
          <% end %>
          <%= f.submit "カートにいれる", class: "btn btn-sm btn-warning" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="item-name-show"><%= @item.name %></td>
    </tr>
    <tr>
      <td class="center item-price-show"><%= @item.price %> 円 (税別)</td>
      <td class="center">在庫数: <%= @item.stock %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @item.description %></td>
    </tr>
  </table>
</div>
