<header class='header navbar nabvar-fixed-top'>
  <div>
    <%= link_to 'ゲンキノモト。', root_path, id: 'logo' %>
    <div class='header-list'>
      <ul class="nav header-list-items">
        <li><%= link_to 'ホーム', root_url, class: 'nav' %></li>
        <li><%= link_to 'ITEM1', '#', class: 'nav' %></li>
        <li><%= link_to 'ITEM2', '#', class: 'nav' %></li>
        <li><%= link_to 'ITEM3', '#', class: 'nav' %></li>
      </ul>
    </div>
  </div>
</header>

